<template>
  <div class="addRoom">
    <label class="header">เพิ่มข้อมูลห้อง</label><br /><br />
    <b-card
      class="mx-auto"
      border-variant="dark"
      style="max-width: 60rem"
      align=""
    >
      <b-row>
        <b-col sm="3"><label>ชื่อตึก</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="nameRoom"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>ชั้น</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="Floor"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>หมายเลขห้อง</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="no_room"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>ผู้พิจารณา</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="approver1"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>ผู้พิจารณา</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="approver1"></b-form-input>
        </b-col> </b-row>
    </b-card>

    <b-row class="button">
      <b-col >
        <b-button @click="backroom" variant="outline-primary" href="room"
          >กลับ</b-button
        >
      </b-col>
      <b-col class="text-right">
        <b-button @click="confirmAddroom" variant="primary" href="room"
          >ยืนยัน</b-button
        >
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    backroom () {},
    confirmAddroom () {}
  }
}
</script>
<style>
.addRoom {
  margin-top: -51%;
}
.header {
  font-weight: 600;
  font-size: 15pt;
  color: black;
}
.button {
  margin-top: 5%;
}
</style>
