<template>
  <div class="addUnit">
    <label class="header">เพิ่มข้อมูลหน่วยงาน</label><br /><br />
    <b-card
      class="mx-auto"
      border-variant="dark"
      style="max-width: 60rem"
      align=""
    >
      <b-row>
        <b-col sm="3"><label>ชื่อหน่วยงาน</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="nameUnit"></b-form-input>
        </b-col> </b-row>
    </b-card>
    <b-row class="button">
      <b-col >
        <b-button @click="backUnit" variant="outline-primary" href="Unit"
          >กลับ</b-button
        >
      </b-col>
      <b-col class="text-right">
        <b-button @click="confirmAddUnit" variant="primary" href="Unit"
          >ยืนยัน</b-button
        >
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    backUnit () {},
    confirmAddUnit () {}
  }
}
</script>
<style>
.addUnit {
  margin-top: -51%;
}
.header {
  font-weight: 600;
  font-size: 15pt;
  color: black;
}
.button {
  margin-top: 5%;
}
</style>
