<template>
  <div class="building">
    <label class="header">ข้อมูลตึก</label>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button @click="addBuilding" variant="primary" href="addBuilding">เพิ่ม</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered"
            :items="detailBuilding"
            :fields="fields"
          >
            <template #cell(editBuilding)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button
                @click="editBuild(item)"
                variant="warning"
                href="editBuilding"
                >แก้ไข</b-button
              >
            </template>
            <template #cell(deleteBuildaing)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button @click="deleteBuilda(item)" variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    editBuild () {},
    deleteBuild () {} // ปุ่มแก้ไข
  },
  data () {
    return {
      fields: [
        { key: 'buildingId', label: 'ลำดับ' },
        { key: 'nameBuild', label: 'ชื่อตึก' },
        { key: 'numFloor', label: 'จำนวนชั้น' },
        { key: 'numRoom', label: 'จำนวนห้อง' },
        { key: 'unit', label: 'หน่วยงานที่รับผิดชอบ' },
        { key: 'editBuilding', label: '' }, // หัวข้อของปุ่ม
        { key: 'deleteBuildaing', label: '' }
      ],
      detailBuilding: [
        {
          buildingId: 1,
          nameBuild: 'ตึกแปซิฟิก',
          numFloor: '10',
          numRoom: '52',
          unit: 'กองอาคารสถานที่'
        },
        {
          buildingId: 2,
          nameBuild: 'ตึกลัคณา',
          numFloor: '8',
          numRoom: '3',
          unit: 'กองอาคารสถานที่'
        },
        {
          buildingId: 3,
          nameBuild: 'ตึกพิทักษ์',
          numFloor: '10',
          numRoom: '52',
          unit: 'กองอาคารสถานที่'
        }
      ]
    }
  }
}
</script>
<style>
.building {
  margin-top: -50%;
}
.table {
  margin-top: 2%;
  text-align: center;
  background: white;
}
</style>
