<template>
  <div class="detailmain-user">
    <b-container>
      <b-row>
        <b-col cols="4">
          <label for="input-live">ตึก</label>
          <b-form-input v-model="text"> </b-form-input>
        </b-col>
        <b-col cols="2">
          <label for="input-live">ชั้น</label>
          <b-form-input v-model="text"> </b-form-input>
        </b-col>
        <b-col cols="3">
          <label for="input-live">ห้อง</label>
          <b-form-input v-model="text"> </b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="9">
          <b-table
            class="table table-hover table-bordered"
            :items="tablebooking"
            :fields="fields"
          >
          </b-table>
        </b-col>
        <b-col class="calender" cols="3">
          <b-input-group>
            <b-form-input
              id="date"
              v-model="value"
              type="text"
              placeholder="YYYY-MM-DD"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="value"
                button-only
                right
                locale="en-US"
                aria-controls="date"
                @context="onContext"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  data () {
    return {
      fields: [
        { key: 'time', label: 'Time' },
        { key: 'name', label: '' }
      ],
      tablebooking: [
        {
          time: '08:00',
          name: 'ฐิติมา ปราชญ์ประยูร',
          _cellVariants: { name: 'danger' }
        },
        { time: '09:00', name: '' },
        { time: '10:00', name: '' },
        {
          time: '11:00',
          name: 'สุวาฐินีย์ ทานมัย',
          _cellVariants: { name: 'warning' }
        },
        { time: '12:00', name: '' },
        { time: '13:00', name: '' },
        {
          time: '14:00',
          name: 'สุวาฐินีย์ ทานมัย',
          _cellVariants: { name: 'danger' }
        }
      ],
      value: '',
      formatted: '',
      selected: ''
    }
  },
  methods: {
    onContext (ctx) {
      // The date formatted in the locale, or the `label-no-date-selected` string
      this.formatted = ctx.selectedFormatted
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD
    }
  }
}
</script>
<style>
.detailmain-user {
  margin-top: -51%;
}
.calender {
  left: 4%;
  margin-top: 2%;
}
.table {
  margin-top: 3%;
  text-align: center;
  background: rgb(180, 200, 255);
}
</style>
