<template>
  <div class="detailApprover">
    <label class="header">รายละเอียดการจอง</label><br /><br />
    <b-card
      class="mx-auto"
      border-variant="dark"
      style="max-width: 60rem"
      align=""
    >
     <b-row>
        <b-col>
          <label>ชื่อ-นามสกุล</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
        <b-col>
          <label>ตำแหน่ง</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label>สาขาวิชา</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
        <b-col>
          <label>คณะ</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col >
          <label>วัตถุประสงค์</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
        <b-col>
          <label>อุปกรณ์ที่ขอใช้</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label>ตึก</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
        <b-col>
          <label>ชั้น</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label>ห้อง</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
        <b-col>
          <label>เวลา</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <b-row class="button">
      <b-col >
        <b-button @click="backConfirm" variant="outline-primary" href="mainApprover">กลับ</b-button>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    backComfirm () {},
    status () {},
    print () {}
  }
}
</script>
<style>
.detailApprover {
  margin-top: -53%;
}
.header {
  font-weight: 600;
  font-size: 15pt;
  color: black;
}
.button {
  margin-top: 5%;
  margin-right:80%;
}
</style>
