<template>
  <div class="documentBooking">
    <label class="header">เอกสารการขอจอง</label>
    <br /><br />
    <b-container>
      <b-row>
        <b-col>
          <label>ชื่อ-นามสกุล</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
        <b-col>
          <label>ตำแหน่ง</label>
          <b-form-input v-model="text"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label>คณะ</label>
          <b-form-select v-model="selected" :options="faculty" class="mb-3">
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- กรุณาเลือกคณะ --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
        <b-col>
          <label>สาขา</label>
          <b-form-select v-model="selected2" :options="branch" class="mb-3">
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- กรุณาเลือกสาขา --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="วัตถุประสงค์" v-slot="{ ariaDescribedby }">
            <b-form-checkbox
              v-for="option in options"
              v-model="checkObject"
              :key="option.value"
              :value="option.value"
              :aria-describedby="ariaDescribedby"
              name="flavour-3a"
            >
              {{ option.text }}
            </b-form-checkbox>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="อุปกรณ์ที่ขอใช้" v-slot="{ ariaDescribedby }">
            <b-form-checkbox
              v-for="optionDevice in optionDevices"
              v-model="checkDevice"
              :key="optionDevice.value"
              :value="optionDevice.value"
              :aria-describedby="ariaDescribedby"
              name="flavour-3a"
            >
              {{ optionDevice.text }}
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
    </b-container>
    <b-row class="button">
      <b-col>
        <b-button @click="backBooking" variant="outline-primary" href="detailmainUser">กลับ</b-button>
      </b-col>
      <b-col class="text-right" >
        <b-button @click="confirmBooking" variant="primary" href="confirmBooking"
          >ยืนยัน</b-button
        >
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    backBooking () {},
    confirmBooking () {}
  },
  data () {
    return {
      selected: null,
      faculty: [
        { value: '', text: 'ตึกคณะวิทยาการสารสนเทศ(IF)' },
        { value: '', text: 'ตึกสิริธร(SD)' }
      ],
      selected2: null,
      branch: [
        { value: '', text: 'CS' },
        { value: '', text: 'IT' },
        { value: '', text: 'SE' }
      ],
      checkObject: [], // Must be an array reference!
      options: [
        { text: 'สัมนา', value: 'seminar' },
        { text: 'อบรม', value: 'training' },
        { text: 'จัดกิจกรรม', value: 'event' },
        { text: 'จัดการเรียนการสอน', value: 'study' },
        { text: 'ประชุม', value: 'meeting' }
      ],
      checkDevice: [], // Must be an array reference!
      optionDevices: [
        { text: 'ระบบเครื่องเสียง', value: 'audio' },
        { text: 'โปรเจคเตอร์', value: 'projector' },
        { text: 'โน๊ตบุ๊ค', value: 'notebook' },
        { text: 'ไมค์', value: 'microphone' },
        { text: 'อื่นๆ', value: 'other' }
      ]
    }
  }
}
</script>
<style>
.documentBooking {
  margin-top: -50%;
  font-size: 13pt;
}
.header {
  font-weight: 600;
  font-size: 18pt;
  color: black;
}
.button {
  margin-top: 5%;
}
</style>
