<template>
  <div class="editunitSub">
    <label class="header">แก้ไขหน่วยงานย่อย</label><br /><br />
    <b-card
      class="mx-auto"
      border-variant="dark"
      style="max-width: 60rem"
      align=""
    >
      <b-row>
        <b-col sm="3"><label>ชื่อหน่วยงาน</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="nameunitSub"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>จำนวนคน</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="numPeople"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>ส่วนงานที่รับผิดชอบ</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="segment"></b-form-input>
        </b-col> </b-row
      >
    </b-card>

    <b-row class="button">
      <b-col >
        <b-button @click="backunitSub" variant="outline-primary" href="subunit"
          >กลับ</b-button
        >
      </b-col>
      <b-col class="text-right">
        <b-button @click="confirmunitSub" variant="primary" href="subunit"
          >ยืนยัน</b-button
        >
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    backunitSub () {},
    confirmunitSub () {}
  }
}
</script>
<style>
.editunitSub {
  margin-top: -51%;
}
.header {
  font-weight: 600;
  font-size: 15pt;
  color: black;
}
.button {
  margin-top: 5%;
}
</style>
