<template>
  <div class="editmangeapprov">
    <label class="header">แก้ไขข้อมูลผู้พิจารณา</label><br /><br />
    <b-card
      class="mx-auto"
      border-variant="dark"
      style="max-width: 60rem"
      align=""
    >
      <b-row>
        <b-col sm="2"><label>ชื่อ - สกุล</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="text" class="name">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</b-form-input>
        </b-col>
      </b-row><br />
      <b-row>
        <b-col sm="2"><label>ตำแหน่ง</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="text" class="Day"></b-form-input>
        </b-col>
      </b-row><br />
      <b-row>
        <b-col sm="2"><label>ห้องรับผิดชอบ</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="text" class="unitAddress"></b-form-input>
        </b-col>
      </b-row><br />
      <b-row>
        <b-col sm="2"><label>User Name</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="text" class="unitAddress"></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <b-row class="button">
      <b-col>
        <b-button @click="backtableapprover" variant="outline-primary" href="tableApprover"
          >กลับ</b-button
        >
      </b-col>
      <b-col class="text-right">
        <b-button @click="confirmtableappover" variant="primary" href="tableApprover"
          >ยืนยัน</b-button
          >
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    backtableapprover () {},
    confirmtableapprover () {}
  }
}
</script>
<style>
.editmangeapprov {
  margin-top: -51%;
}
.header {
  font-weight: 600;
  font-size: 15pt;
  color: black;
}
.button {
  margin-top: 5%;
}
</style>
