<template>
  <div class="editDataUser">
    <label class="header">แก้ไขข้อมูลบุคคล</label><br /><br />
    <b-card
      class="mx-auto"
      border-variant="dark"
      style="max-width: 60rem"
      align=""
    >
      <b-row>
        <b-col sm="2"><label>ชื่อ - สกุล</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="text" class="nameBuild"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="2"><label>วัน/เดือน/ปี</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="text" class="numFloor"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="2"><label>หน่วยงานที่อยู่</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="text" class="numRoom"></b-form-input>
        </b-col> </b-row
      ><br />
    </b-card>
    <b-row class="button">
      <b-col >
        <b-button @click="backDataUser" variant="outline-primary" href="dataUser"
          >กลับ</b-button
        >
      </b-col>
      <b-col class="text-right">
        <b-button @click="confirmDataUser" variant="primary" href="dataUser"
          >ยืนยัน</b-button
        >
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    backDataUser () {},
    confirmDataUser () {}
  }
}
</script>
<style>
.editDataUser {
  margin-top: -51%;
}
.header {
  font-weight: 600;
  font-size: 15pt;
  color: black;
}
.button {
  margin-top: 5%;
}
</style>
