<template>
  <div class="editBuilding">
    <label class="header">แก้ไขข้อมูลตึก</label><br /><br />
    <b-card
      class="mx-auto"
      border-variant="dark"
      style="max-width: 60rem"
      align=""
    >
      <b-row>
        <b-col sm="3"><label>ชื่อตึก</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="nameBuild"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>จำนวนชั้น</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="numFloor"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>จำนวนห้อง</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="numRoom"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label>หน่วยงานที่รับผิดชอบ</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="text" class="unit"></b-form-input>
        </b-col> </b-row>
    </b-card>
    <b-row class="button">
      <b-col >
        <b-button @click="backBuild" variant="outline-primary" href="Building"
          >กลับ</b-button
        >
      </b-col>
      <b-col class="text-right">
        <b-button @click="confirmEditBuild" variant="primary" href="Building"
          >ยืนยัน</b-button
        >
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    backBuild () {},
    confirmEditBuild () {}
  }
}
</script>
<style>
.editBuilding {
  margin-top: -51%;
}
.header {
  font-weight: 600;
  font-size: 15pt;
  color: black;
}
.button {
  margin-top: 5%;
}
</style>
