<template>
  <div class="mainUser">
    <b-container fluid>
      <b-row class="select">
        <b-col>
          <b-form-select v-model="selected" :options="sizeRoom" class="mb-3">
            <template>
              <b-form-select-option :value="null" disabled
                >-- กรุณาเลือกขนาดห้อง --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
        <b-col>
          <b-form-select v-model="selected2" :options="building" class="mb-3">
            <template>
              <b-form-select-option :value="null" disabled
                >-- กรุณาเลือกตึก --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
        <b-col>
          <b-button @click="search" variant="primary">ค้นหา</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table class="table table-hover table-bordered" :items="detailBooking" :fields="fields">
            <template #cell(operators)="{ item }">
              {{ item.detailBookingId }}
              <b-button @click="bookDetail(item)" variant="success" href="detailmainUser"
                >รายละเอียด</b-button
              > </template
            >>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    bookDetail (item) {}, // ปุ่มรายละเอียด
    search () {}
  },
  data () {
    return {
      fields: [
        { key: 'detailbookingId', label: 'ลำดับ' },
        { key: 'floor', label: 'ชั้น' },
        { key: 'name', label: 'ชื่อห้อง' },
        { key: 'device', label: 'อุปกรณ์ให้ยืม' },
        { key: 'operators', label: '' } // หัวข้อของปุ่ม
      ],
      detailBooking: [
        {
          detailbookingId: 1,
          floor: 1,
          name: 'IF-M101',
          device: 'ระบบเครื่องเสียง โปรเจคเตอร์ โน๊ตบุ๊ค ไมค์'
        },
        {
          detailbookingId: 2,
          floor: 5,
          name: 'IF-M501',
          device: 'ระบบเครื่องเสียง โปรเจคเตอร์ โน๊ตบุ๊ค ไมค์'
        },
        {
          detailbookingId: 3,
          floor: 5,
          name: 'IF-M502',
          device: 'ระบบเครื่องเสียง โปรเจคเตอร์ โน๊ตบุ๊ค ไมค์'
        }
      ],
      selected: null,
      sizeRoom: [
        { value: '', text: 'ห้องขนาดเล็ก(รองรับ 30 คน)' },
        { value: '', text: 'ห้องขนาดกลาง(รองรับ 60 คน)' },
        { value: '', text: 'ห้องขนาดใหญ่(รองรับ 100 คน)' }
      ],
      selected2: null,
      building: [
        { value: '', text: 'ตึกคณะวิทยาการสารสนเทศ(IF)' },
        { value: '', text: 'ตึกสิริธร(SD)' }
      ]
    }
  }
}
</script>
<style>
.table {
  margin-top: 2%;
  text-align: center;
  background: white;
}
.select {
  margin-top: 8%;
}
</style>
