<template>
  <div>
    <b-img src="../assets/buu.png" class="img"></b-img><br />
    <b-container class="cardz">
      <b-row>
        <b-col>
          <h4>ประชาสัมพันธ์</h4>
        </b-col>
      </b-row><br>
      <b-row>
        <b-col>
          <b-card style="max-width: 20rem" class="box">
            <a href="#" class="text">แบบเสนอเรื่องเพื่อจัดเข้าวาระการประชุมคณะกรรมการจัดหารายได้หรือผลประโยชน์จากที่ราชพัสดุและจากอสังหาริมทรัพย์ของมหาวิทยาลัย</a>
            </b-card
          >
        </b-col>
        <br />
        <b-col>
          <b-card style="max-width: 20rem" class="box">
            <a href="#" class="text">ระเบียบมหาวิทยาลัยบูรพาว่าด้วยการจัดหารายได้หรือผลประโยชนจากที่ราชพัสดุและจากอสังหาริมทรัพย์ที่เป็นกรรมสิทธิ์ของมหาวิทยาลัยบูรพา</a>
          </b-card></b-col
        ><br />
        <b-col>
          <b-card style="max-width: 20rem" class="box">
             <a href="#" class="text">แบบฟอร์มขอความอนุเคราะห์ออกแบบ</a></b-card
          >
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {}
</script>
<style>
.img {
  margin-top: -89%;
}
.cardz {
  margin-top: -30%;
}
.box{
  background-color: rgb(180, 210, 255);
}
.text{
  color: rgb(0, 0, 0);
}

</style>
