<template>
  <div class="mainapprov">
    <label class="header">รายการการจอง</label>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered"
            :items="reservation"
            :fields="fields"
          >
            <template #cell(detail)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="reservationlist(item)" variant="success" href="detailApprover">รายละเอียด</b-button
              >
            </template>
            <template #cell(approver1)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="reservationlist(item)" variant="primary"
                >อนุมัติ</b-button
              >
            </template>
            <template #cell(approver2)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="reservationlist(item)" variant="danger"
                >ไม่อนุมัติ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    reservationlist (item) {} // ปุ่มรายละเอียด
  },
  data () {
    return {
      fields: [
        { key: 'approverId', label: 'ลำดับ' },
        { key: 'room', label: 'ห้อง' },
        { key: 'time', label: 'เวลา' },
        { key: 'user', label: 'ผู้จอง' },
        { key: 'detail', label: '' }, // หัวข้อของปุ่ม
        { key: 'approver1', label: '' },
        { key: 'approver2', label: '' }
      ],
      reservation: [
        {
          approverId: 1,
          room: 'ตึก : 1 ชั้น : 2 ห้อง : 1 ',
          time: '12:00',
          user: 'นายอ่ำ'
        }
      ]
    }
  }
}
</script>
<style>
.mainapprov {
  margin-top: -50%;
}
.table {
  margin-top: 2%;
  text-align: center;
  background: white;
}
.header {
  font-weight: 600;
  font-size: 18pt;
  color: black;
}
</style>
