<template>
  <div>
    <b-img src="../assets/buu.png"  class="img" ></b-img><br />
    <b-container class="cardz">
      <b-row>
        <b-col>
          <h4>ประชาสัมพันธ์</h4>
        </b-col>
      </b-row>
      <b-row class="card">
        <b-col>
          <b-card-text
            >แบบเสนอเรื่องเพื่อจัดเข้าวาระการประชุมคณะกรรมการจัดหารายได้หรือผลประโยชน์จากที่ราชพัสดุและจากอสังหาริมทรัพย์ของมหาวิทยาลัย</b-card-text
          > </b-col
        >
      </b-row><br />
      <b-row class="card">
        <b-col>
          <b-card-text>
              ระเบียบมหาวิทยาลัยบูรพาว่าด้วยการจัดหารายได้หรือผลประโยชนจากที่ราชพัสดุและจากอสังหาริมทรัพย์ที่เป็นกรรมสิทธิ์ของมหาวิทยาลัยบูรพา</b-card-text> </b-col>
      </b-row><br />
      <b-row class="card">
        <b-col>
          <b-card-text>แบบฟอร์มขอความอนุเคราะห์ออกแบบ</b-card-text>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {}
</script>
<style>
.img {
  margin-top: -89%;
}
.cardz {
    margin-top: -30%;
}
.cerd {
  text-align: center;
}
</style>
