<template>
  <div class="manageusers">
    <label class="header">ผู้ใช้ระบบ</label>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered"
            :items="detailManageUser"
            :fields="fields"
          >
            <template #cell(deleteManageUser)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button @click="deleteManage(item)" variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    editManage () {}, // ปุ่มแก้ไข
    deleteManage () {}
  },
  data () {
    return {
      fields: [
        { key: 'username', label: 'Uername' },
        { key: 'Name', label: 'ชื่อ นามสกุล' },
        { key: 'position', label: 'ตำแหน่ง' },
        { key: 'faculty', label: 'คณะ' },
        { key: 'history', label: 'ประวัติการใช้ห้อง' },
        { key: 'deleteManageUser', label: '' } // หัวข้อของปุ่ม
      ],
      detailManageUser: [
        {
          username: 62160001,
          Name: 'นายอ่ำ อำพร',
          position: 'นักศึกษา',
          faculty: 'วิทยาการสารสนเทศ',
          history: 'ตึกแปซิฟิก ชั้น3 ห้อง C-301 10.00-11.00 20/04/2001'
        },
        {
          username: 62130029,
          Name: 'xxxxxx',
          position: 'นักศึกษา',
          faculty: 'วิทยาศาสตร์',
          history: 'ตึกลักคณา ชั้น2 ห้อง L-202 13.00-14.00 20/04/2001'
        },
        {
          username: 63160345,
          Name: 'xxxxx',
          position: 'นักศึกษา',
          faculty: 'วิทยาการสารสนเทศ',
          history: 'ตึกแปซิฟิก ชั้น3 ห้อง C-301 10.00-11.00 21/04/2001'
        }
      ]
    }
  }
}
</script>
<style>
.manageusers {
  margin-top: -50%;
}
.table {
  margin-top: 2%;
  text-align: center;
  background: white;
}
</style>
