<template>
  <div class="statusUser">
    <label class="header">สถานะการจอง</label><br />
    <b-container>
      <b-row>
        <b-col>
          <b-table
            class="table table-bordered"
            :items="detailStatus"
            :fields="fields"
          >
            <!-- A custom formatted column -->
            <template #cell(detailRoom)="data" >
              <b>{{ data.value.room }}</b> <b class="ml-5">{{ data.value.time }}</b>
            </template>
            <template #cell(approveStatus_1)="data">
              <span v-html="data.value"></span>
            </template>
            <template #cell(approveStatus_2)="data">
              <span v-html="data.value"></span>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  data () {
    return {
      fields: [
        { key: 'detailStatusId', label: 'ลำดับ' },
        { key: 'detailRoom', label: 'ห้อง/เวลา' },
        { key: 'approveStatus_1', label: 'ผู้พิจารณา' },
        { key: 'approveStatus_2', label: 'รองอธิบการบดี' }
      ],
      detailStatus: [
        {
          detailStatusId: 1,
          detailRoom: {
            room: 'ตึก: วิทยาการสารสนเทศ ชั้น: 5 ห้อง: IF-M501',
            time: 'เวลา 13:00'
          },
          approveStatus_1: '<span style="color:green">อนุมัติ</span>',
          approveStatus_2: '<span style="color:red">รอการอนุมัติ</span>'
        },
        {
          detailStatusId: 2,
          detailRoom: {
            room: 'ตึก: วิทยาการสารสนเทศ ชั้น: 2 ห้อง: IF-M201',
            time: 'เวลา 09:00'
          },
          approveStatus_1: '<span style="color:green">อนุมัติ</span>',
          approveStatus_2: '<span style="color:red">รอการอนุมัติ</span>'
        }
      ]
    }
  }
}
</script>
<style>
.statusUser {
  margin-top: -50%;
}
.header {
  font-weight: 600;
  font-size: 18pt;
  color: black;
}
.table {
  margin-top: 2%;
  text-align: center;
  background: white;
}
</style>
