<template>
  <div class="app-menu min-vh-100">
    <b-img
      src="../assets/Buulogo.png"
      width="100%"
      class="pt-3 pb-2"
      center
    ></b-img>
    <b-nav vertical>
      <b-nav-item to="/mainApprover">หน้าหลัก</b-nav-item>
      <b-nav-item to="/logout">Logout</b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {}
}
</script>
<style>
.app-menu {
  background-color: rgb(255, 255, 255);
  font-size: 13pt;
  text-align: center;
}
.nav-link {
  margin-top: 5%;
  color: rgb(110, 126, 136);
}
.nav-link:hover {
  color: black;
  text-decoration-line: underline;
}
</style>
