<template>
  <div class="main-user">
    <b-navbar toggleable="lg" type="white" variant="light">
      <b-navbar-brand >ระบบการจองมหาวิทยาลัยบูรพา</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input
              class="mr-sm-3"
              placeholder="Search"
            ></b-form-input>
            <b-button class="my-2 my-sm-0" type="submit"
              variant="outline-primary">Search</b-button
            >
          </b-nav-form>
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {}
</script>
<style>
.navbar-brand {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;

  color: #6699d3;
}
</style>
