<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col cols="2" class="p-0" v-if="!statusLogin"
          ><MenuSystemAdmin
        /></b-col>
        <b-col class="p-0" :class="statusLogin ? col : col - 10">
          <NavBar v-if="!statusLogin" />
          <b-container fluid>
            <router-view @loadLogin="login" />
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import NavBar from './components/NavBar.vue'
import MenuSystemAdmin from './components/MenuSystemAdmin.vue'
export default {
  data () {
    return {
      statusLogin: false
    }
  },
  components: {
    NavBar,
    MenuSystemAdmin
  },
  methods: {
    login (event) {
      this.statusLogin = event
    }
  }
}
</script>
<style>
#app {
  background: #d5eefd;
}
</style>
